/*Global==========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-orange: rgb(247, 114, 6);
    --orange: rgb(235, 137, 57);
    --light-orange: rgb(199, 160, 89);
    --text-bg: #f9f9f9;
}

a, li {
    position: relative;
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

/*NAVBAR==========================================*/
nav {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 1000;
    padding: 35px 60px;
}



.links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li a {
    padding: 0 2.5rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
    transition: 0.6s;
}

.links li a:hover{
    color: var(--dark-orange);
    font-weight: 600;
}

nav.sticky {
    padding: 5px 60px;
    background: #333;
}

nav.sticky ul li a {
    color: white;
    font-weight: 100;
}
/*HOME==========================================*/
.section-focus {
    position: relative;
    min-height: 100vh;
    background: url("./Images/bedroom\ Office\ 1280x811.jpg");
    background-size: cover;
    padding: 0rem 5rem; /*0top botton 5 dos lados*/
}

.main-title {
    position: absolute; /*pode mover para onde quiser*/
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%); /*perfeito centralizado*/
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5rem;
    
}

.main-title a {
    color: var(--orange);
    cursor: default;
}

.main-title a:hover {
    font-size: 5.5rem;
    border-radius: 12px;
    
}

.section-focus .home-subtitle {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-80%);
    font-weight: 600;
    font-size: 1.5rem;
    border: 1;
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.section-focus .home-subtitle:hover {
    opacity: 1;
}

.section-focus p {
    position: absolute;
    top: 76%;
    left: 50%;
    cursor: default;
}

/*ARTICLE01==========================================*/
#article01 {
    padding: 1em 0;
    border-top: 8px solid #222;
    background: var(--text-bg);
    color: #333;
    font-size: 1.125em; /* 18px / 16px */
}

.wrap {
    margin: 0 auto;
    max-width: 58%; /*centralizar texto*/
}

#article01 h2 {
    font-size: 4em; /* 72px / 16px */
    line-height: 1.1;
    margin-top: 1rem;
}

.date {
    font-weight: 100;
}

#article01 h3 {
    margin: 1em 0 .8em 0;
    color:var(--orange);
    font-size: 2em; /*36px / 16px*/
    letter-spacing: -0.5px;
    line-height: 1.1;
}

#article01 h4 {
    margin: .8em 0 -.7em 0;
    color: #222;
    font-size: 1.333em;
}

#article01 p {
    margin: .8em 0;
}

/*COMMENTS==========================================*/
.comment-section {
    background-image: linear-gradient(120deg, var(--light-orange), var(--orange) );
    color: white;
    min-height: 100vh;
}

.comment-title {
    font-size: 3em;
    font-weight: 100;
}

.comment-title, .form-comment {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-comment, .btn-comment {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
}

.comment-text {
    display: block;
    max-width: 58%;
    width: 100%;
    margin: 1rem 0;
    padding: 20px 40px;
    border: none;
    outline: none;
    transition: 0.6s;
}

.comment-text:focus {
    box-shadow: 0 0 10px 4px var(--dark-orange);
}

.btn-comment {
    background: var(--text-bg);
    color: var(--orange);
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.btn-comment:hover {
    background: var(--dark-orange);
    color: var(--text-bg); 
}

.comment-area {
    height: 7rem;
}


/*INTRO ANIMATION==========================================*/
.intro {
    background: black;
    position: fixed; /*pode mover para onde quiser*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    background: var(--light-orange);
    position: fixed; /*pode mover para onde quiser*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%) /*colocar atraz de tudo*/
}

.intro-container {
    color: var(--orange);
    font-family: 'Heebo', sans-serif;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block; /*permite mover span elemento*/
}

/*RESPONSIVE.NAVBAR==========================================*/
/*@media ( min-width: 660px) {
   

    .links li a{
        display: flex;
        
        
        
    }
}*/
/*RESPONSIVE.ARCTICLE==========================================*/
@media screen and (max-width: 600px){
    #article01 {
        font-size: 1em; /*diminuir a fonte*/
    }

    .wrap {
        max-width: 85%; /*diminuir os espaços laterais*/
    }
} /*mais espaço paro o texto em telas menores*/

 /* @media screen and (min-width: 980px){
 .wrap {
        max-width: 600px; manter fixa espaço entre as letras
    } 
}/* espaço entre as letras aumenta em tela grandes*/ */

/*FOOTER==========================================*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
