/*Global==========================================*/
@import url( https://necolas.github.io/normalize.css/8.0.1/normalize.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-orange: rgb(247, 114, 6);
    --Gray: #666;
    --dark-blue: #282e34;
    --text-bg: #f4f4f4;
}

body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    line-height: 1.8em;
    color: var(--Gray);
}

a, li {
    list-style: none;
    text-decoration: none;
    color: black;
}

/*ABOUT-TOP===================================*/
.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/*NAVBAR===================================*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    transition: 0.6s;   
}

.logo-link {
    margin-left: -5.5rem;
    opacity: 0.7;  
}

.list-link {
    margin-left: -1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    padding: 0 0.6rem;
    font-size: 0.9rem;
    color:#222;
}

.nav-link a:hover {
    color: var(--dark-orange);
}

/*Languages==========*/
.lang-menu {
    position: relative;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px; /**/
}

.selected-lang {
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: black;
}

.active-por:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/br/flat/16.png);
}

.active-eng:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/us/flat/16.png);
}
.active-fr:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/fr/flat/16.png);
}
.active-de:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/de/flat/16.png);
}

.lang-menu ul {
    display: none;
    background-color: #444;
    border: 1px solid #222;
    box-shadow: 0px 1px 10px rgba(rgb(146, 138, 138), rgb(146, 138, 138), rgb(146, 138, 138), 0.2);
    position: absolute;
    top: 21px;
    right: 0;
}

.lang-menu ul li {
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--text-bg);
    display: inline-block;
    width: 100px;
    padding: 5px;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.lang-menu ul li a:hover {
    background-color: #333;
    color: var(--dark-orange);
}

.br:before {
    background-image: url(https://www.countryflags.io/br/flat/16.png);
}

.us:before {
    background-image: url(https://www.countryflags.io/us/flat/16.png);
}

.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/16.png);
}

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/16.png);
}

.lang-menu:hover ul {
    display: block;
}

.nav-bar.sticky {
    z-index: 1000;
    background: #333;
    padding: 2px 95px;
    
}

nav.sticky span {
    color: white;
    font-weight: 100;
}

.nav-bar.sticky ul li a {
    color: white;
    font-weight: 100;

}

.nav-bar.sticky ul li a:hover {
    color: var(--dark-orange);
    font-weight: 300;
}
/*MAIN=BODY============================*/
.about-img, .mission-img, .value-img {
    position: relative;
    opacity: 0.7; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.icons {
    margin-left: -2.8rem;
    display: inline-flex;
    letter-spacing: 1rem;
}

.linkedin a:hover {
    color: rgb(106, 106, 238);
    
}

.github a:hover {
    color: var(--text-bg);
    
}

.instagram a:hover {
    color: rgb(252, 79, 131);
}

.section {
    text-align: center;
    padding: 42px 80px;
}

.main-title {
    position: absolute;
    top: 35%;
    left: 50%; /* width:100%; */
    transform: translate(-45%, -30%); /*text-align: center; */
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5rem;
    color: var(--dark-orange);
    cursor: default;
    line-height: 5rem;
}

.top-subtitle  {
    position: absolute;
    top: 68%;
    left: 50%; 
    transform: translate(-65%); 
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: 0.3s ease-in;
    color: #222;
}

.top-subtitle:hover {
    opacity: 1;
    
}




/*ABOUT======================================*/
.about-img {
    background-image: url("../Images/online-julia-m-cameron-croped.jpg");
    min-height: 100vh;
}

.about-text {
    background-color: Var(--text-bg);
}

/*MISSION======================================*/
.mission-img {
    background-image: url("../Images/online-andrea-piacquadio.jpg");
    min-height: 450px;
}

.mission-text {
    background-color: var(--dark-blue);
    color: #ddd;
}

/*VALUE======================================*/
.value-img {
    background-image: url("../Images/tradional-fauxels.jpg");
    min-height: 450px;
}

.value-text {
    background-color: var(--text-bg);
}

/*FOOTER======================================*/
.footer-text {
    background-color: var(--dark-blue);
    color: #ddd;
}

.footer p {
    opacity: 0.6;
    font-size: small;
}

.footer .icons {
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
}

@media (min-width: 650px) {
    .logo-link {
        margin-left: -4rem;
        margin-right: 1rem;
    }

    .nav-link a  {
        padding: 0 3rem;
    }
}