* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-orange: rgb(247, 114, 6);
    --Gray: #666;
    --dark-blue: #282e34;
    --text-bg: #f4f4f4;
}

body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    line-height: 1.8em;
    color: var(--Gray);
}

a, li {
    list-style: none;
    text-decoration: none;
    color: black;
}

/*ABOUT-TOP===================================*/
.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/*NAVBAR===================================*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    transition: 0.6s;   
}

.logo-link {
    margin-left: -4rem;
    opacity: 0.7;  
}

.list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    padding: 0 0.6rem;
    font-size: 1rem;
    color:#222;
}

.nav-link a:hover {
    color: var(--dark-orange);
}


.nav-bar.sticky {
    z-index: 1000;
    background: #333;
    padding: 4px 60px;
    
}

.nav-bar.sticky ul li a {
    color: white;
    font-weight: 100;

}

.nav-bar.sticky ul li a:hover {
    color: var(--dark-orange);
    font-weight: 300;
}
/*MAIN=BODY============================*/
.about-img, .mission-img, .value-img {
    position: relative;
    opacity: 0.7; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.icons {
    display: inline-flex;
    letter-spacing: 1rem;
}

.linkedin a:hover {
    color: rgb(106, 106, 238);
    
}

.github a:hover {
    color: var(--text-bg);
    
}

.instagram a:hover {
    color: rgb(252, 79, 131);
}

.section {
    text-align: center;
    padding: 35px 80px;
}

.main-title {
    position: absolute;
    top: 35%;
    left: 50%; /* width:100%; */
    transform: translate(-45%, -30%); /*text-align: center; */
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5rem;
    color: var(--dark-orange);
    cursor: default;
    line-height: 5rem;
}

.home-subtitle {
    position: absolute;
    top: 68%;
    left: 50%; 
    transform: translate(-65%); 
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: 0.3s ease-in;
    
}

.home-subtitle:hover {
    font-weight: 700;
    opacity: 9;
}




/*ABOUT======================================*/
.about-img {
    background-image: url("../Images/online-julia-m-cameron-croped.jpg");
    min-height: 100vh;
}

.about-text {
    background-color: Var(--text-bg);
}

/*MISSION======================================*/
.mission-img {
    background-image: url("../Images/online-andrea-piacquadio.jpg");
    min-height: 450px;
}

.mission-text {
    background-color: var(--dark-blue);
    color: #ddd;
}

/*VALUE======================================*/
.value-img {
    background-image: url("../Images/tradional-fauxels.jpg");
    min-height: 450px;
}

.value-text {
    background-color: var(--text-bg);
}

/*FOOTER======================================*/
.footer-text {
    background-color: var(--dark-blue);
    color: #ddd;
}

.footer p {
    opacity: 0.6;
    font-size: small;
}

.footer .icons {
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
}

@media (min-width: 650px) {
    .logo-link {
        margin-left: -1rem;
        margin-right: 1rem;
    }

    .nav-link  {
        padding: 0 1.1rem;
    }
}