/*Global==========================================*/
@import url( https://necolas.github.io/normalize.css/8.0.1/normalize.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #282e34;
    --dark-orange: rgb(247, 114, 6);
    --orange: rgb(235, 137, 57);
    --light-orange: rgb(199, 160, 89);
    --text-bg: #f9f9f9;
    --text-color: #ddd;
}

body {
    font-family: 'Poppins', sans-serif;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.icons {
    display: inline-flex;
    letter-spacing: 1rem;
    color: black;
}

/*NAVBAR=======================================*/
.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
    transition: 0.6s;
}

.logo {
    margin-right: 1rem;
    margin-left: -3rem;  
    opacity: 0.7;
}

.linkedin a:hover {
    color: rgb(106, 106, 238);
    
}

.github a:hover {
    color: #f4f4f4;  
}

.instagram a:hover {
    color: rgb(252, 79, 131);   
}

.nav-list {
    display: flex;
    
}

.nav-link a {
    padding: 0 0.9rem;
    font-size: 0.9rem;
    
}

.nav-link a:hover {
    color: var(--dark-orange);
    font-weight: 300;
}

/*Languages==========*/
.lang-menu {
    position: relative;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px; /**/
}

.selected-lang {
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: black;
}

.active-por:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/br/flat/16.png);
}

.active-eng:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/us/flat/16.png);
}
.active-fr:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/fr/flat/16.png);
}
.active-de:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/de/flat/16.png);
}

.lang-menu ul {
    display: none;
    background-color: #444;
    border: 1px solid #222;
    box-shadow: 0px 1px 10px rgba(rgb(146, 138, 138), rgb(146, 138, 138), rgb(146, 138, 138), 0.2);
    position: absolute;
    top: 16px;
    right: 0;
}

.lang-menu ul li {
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--text-bg);
    display: inline-block;
    width: 100px;
    padding: 5px;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.lang-menu ul li a:hover {
    background-color: #333;
    color: var(--dark-orange);
}

.br:before {
    background-image: url(https://www.countryflags.io/br/flat/16.png);
}

.us:before {
    background-image: url(https://www.countryflags.io/us/flat/16.png);
}

.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/16.png);
}

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/16.png);
}

.lang-menu:hover ul {
    display: block;
}

nav.sticky span {
    color: white;
    font-weight: 100;
}


nav.sticky {
    font-weight: 100;
    padding: 4px 60px;
    background: #333;
}

nav.sticky ul li a {
    color: white;
    
}

nav.sticky .mobile-nav .bar {
    background: var(--text-bg);
    
}

/*Mobile navbar================================*/
.mobile-nav {
    position: absolute;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    height: 21px;
    width: 30px;
    }

        .mobile-nav .bar {
            height: 2px;
            width: 100%;
            border-radius: 12px;
            background: #333;

        }

/*TOP==============================================*/
.top-article {
    position: relative;
    background-position: center;
    background-image: url("../Images/online-tirachard-kumtanom.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    opacity: 0.7;
}

.main-title {
    position: absolute;
    top: 23%;
    left: 50%; /* width:100%; */
    transform: translate(-45%, -30%); /*text-align: center; */
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5rem;
    color: var(--dark-orange);
    cursor: default;
    line-height: 4rem;
}

.subtitle {
    position: absolute;
    top: 75%;
    left: 45%; 
    transform: translate(-50%); 
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var(--text-bg);
    padding: 20px;
    border: solid var(--dark-orange);
    opacity: 0.5;
    transition: 0.3s ease-in;
    color: #333;
}

.subtitle:hover {
    font-weight: 700;
    opacity: 1;
}

/*CARDS===================================================*/
.articles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--dark-blue);
}

.articles .mt01 {
    position: absolute;
    top: 30px;
    color: var(--text-color);
}

.card {
    margin-top: 100px;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    height: 400px;
}

.card .card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card .card-img img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.card:hover .card-img img {
    opacity: 1;
}

.card:hover .card-text {
    color: var(--text-color);
}
/*ARTICLES.SUBJECTS===============================*/
.articles-subjects {
    padding: 1em 0;
    background: var(--text-bg);
    color: #333;
    font-size: 1.125em;
}

.subjects {
    margin: 0 auto;
    max-width: 58%;
}

.article-title {
    font-size: 3em;
    line-height: 1.1;
    margin-top: 2.5rem;
}

.link-section {
    min-height: 50vh;
}

.coming-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-section li {
    margin: 1em 0;
}

.link-section  span {
    margin-left: 1rem;
    color: red;
}
.link-section a:hover {
    color: var(--dark-orange);
}
.link-section .date {
    color: #333;
}
/*FOOTER===============================*/

.footer-text {
    text-align: center;
    padding: 35px 80px;
    background-color: var(--dark-blue);
    color: #ddd;
}

.footer p {
    opacity: 0.6;
    font-size: small;
}

.footer .icons {
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
}

/*RESPONSIVE.MOBILE==========================================*/
@media screen and (max-width: 500px){
    .nav-bar.sticky {
        padding: 15px 60px;
    }

    .mobile-nav {
        display: flex;
    }
        
    .icons {
        margin-left: -5rem;
        letter-spacing: 1rem;
    }

        .nav-list {
            display: none;
            position: absolute;
            top: 75%;
            left: 21%;
        }    

            .nav-list li {
                text-align: center;
            }
            
                .nav-list li a {
                    padding: 1.2rem;
                    font-size: 0.8rem;
                }

                .nav-list.active-navbar {
                    display: flex;
                }

    .link-section {
        margin-left: -1.5rem;
    }

    .subjects {
        max-width: 65%;
    }

    .subjects hr {
        margin-left: -2rem;
        
    }

    .article-title {
        font-size: 2em;
    }

    .articles-subjects {
        padding: 1em 0;
        font-size: 1em;
    }

}

@media (min-width: 625px) {
    .logo {
        margin-left: -1rem;
        margin-right: 1rem;
    }

    .nav-link a {
        padding: 0 3.5rem;
    }

    
}

@media (min-width: 920px) {
    .card {
        margin-top: 0;
    }
}