* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #282e34;
    --dark-orange: rgb(247, 114, 6);
    --orange: rgb(235, 137, 57);
    --light-orange: rgb(199, 160, 89);
    --text-bg: #f9f9f9;
    --text-color: #ddd;
}

body {
    font-family: 'Poppins', sans-serif;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.icons {
    display: inline-flex;
    letter-spacing: 1rem;
    color: black;
}

/*NAVBAR=======================================*/
.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
    transition: 0.6s;
}

.logo {
    margin-right: 1.5rem;
    margin-left: -1.5rem;    opacity: 0.7;
}

.linkedin a:hover {
    color: rgb(106, 106, 238);
    
}

.github a:hover {
    color: #f4f4f4;  
}

.instagram a:hover {
    color: rgb(252, 79, 131);   
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link a {
    padding: 1.6rem;
    font-size: 1rem;
    
}

.nav-link a:hover {
    color: var(--dark-orange);
    font-weight: 300;
}

nav.sticky {
    font-weight: 100;
    padding: 4px 60px;
    background: #333;
}

nav.sticky ul li a {
    color: white;
    
}

/*TOP==============================================*/
.top-article {
    position: relative;
    background-position: center;
    background-image: url("../Images/online-tirachard-kumtanom.jpg");
    background-size: cover;
    min-height: 45vh;
    width: 100%;
    opacity: 0.7;
}

.main-title {
    position: absolute;
    top: 40%;
    left: 50%; /* width:100%; */
    transform: translate(-45%, -30%); /*text-align: center; */
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5rem;
    color: var(--dark-orange);
    cursor: default;
    line-height: 5rem;
}

.subtitle {
    position: absolute;
    top: 78%;
    left: 40%; 
    transform: translate(-50%); 
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.subtitle:hover {
    font-weight: 700;
}

/*CARDS===================================================*/
.articles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--dark-blue);
}

.articles h1 {
    position: absolute;
    top: 40px;
    color: var(--text-color);
}

.card {
    margin-top: 100px;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    height: 400px;
}

.card .card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card .card-img img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.card:hover .card-img img {
    opacity: 1;
}

.card:hover .card-text {
    color: var(--text-color);
}
/*ARTICLES.SUBJECTS===============================*/
.articles-subjects {
    padding: 1em 0;
    background: var(--text-bg);
    color: #333;
    font-size: 1.125em;
}

.subjects {
    margin: 0 auto;
    max-width: 58%;
}

.article-title {
    font-size: 3em;
    line-height: 1.1;
    margin-top: 2.5rem;
}

.link-section {
    min-height: 50vh;
}

.link-section li {
    margin: 1em 0;
}

.link-section li small {
    color: red;
}
/*FOOTER===============================*/

.footer-text {
    text-align: center;
    padding: 35px 80px;
    background-color: var(--dark-blue);
    color: #ddd;
}

.footer p {
    opacity: 0.6;
    font-size: small;
}

.footer .icons {
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
}

@media (min-width: 625px) {
    .logo {
        margin-left: -1rem;
        margin-right: 1rem;
    }

    .nav-link a {
        padding: 0 3.5rem;
    }

    
}

@media (min-width: 920px) {
    .card {
        margin-top: 0;
    }
}