/*Global==========================================*/
@import url( https://necolas.github.io/normalize.css/8.0.1/normalize.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #282e34;
    --dark-orange: rgb(247, 114, 6);
    --orange: rgb(235, 137, 57);
    --light-orange: rgb(199, 160, 89);
    --text-bg: #f9f9f9;
    --text-color: #ddd;
}

body {
    font-family: 'Poppins', sans-serif;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.icons {
    display: flex;
    letter-spacing: 1rem;
}

/*NAVBAR==================================*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
    transition: 0.6s;
}

.logo {
    margin-right: 1rem;
    margin-left: -3rem;
    opacity: 0.7;
}

.linkedin a:hover {
    color: rgb(106, 106, 238);
    
}

.github a:hover {
    color: #f4f4f4;  
}

.instagram a:hover {
    color: rgb(252, 79, 131);   
}

.nav-list {
    display: flex;
}

.nav-link a {
    padding: 0 0.9rem;
    font-size: 0.9rem;
}

.nav-link a:hover {
    color: var(--dark-orange);
    font-weight: 400 transparent;
}

/*Languages==========*/
.lang-menu {
    position: relative;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px; /**/
}

.selected-lang {
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: black;
}

.active-por:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/br/flat/16.png);
}

.active-eng:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/us/flat/16.png);
}
.active-fr:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/fr/flat/16.png);
}
.active-de:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://www.countryflags.io/de/flat/16.png);
}

.lang-menu ul {
    display: none;
    background-color: #444;
    border: 1px solid #222;
    box-shadow: 0px 1px 10px rgba(rgb(146, 138, 138), rgb(146, 138, 138), rgb(146, 138, 138), 0.2);
    position: absolute;
    top: 16px;
    right: 0;
}

.lang-menu ul li {
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--text-bg);
    display: inline-block;
    width: 100px;
    padding: 5px;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.lang-menu ul li a:hover {
    background-color: #333;
    color: var(--dark-orange);
}

.br:before {
    background-image: url(https://www.countryflags.io/br/flat/16.png);
}

.us:before {
    background-image: url(https://www.countryflags.io/us/flat/16.png);
}

.es:before {
    background-image: url(https://www.countryflags.io/es/flat/16.png);
}

.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/16.png);
}

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/16.png);
}

.lang-menu:hover ul {
    display: block;
}

nav.sticky span {
    color: white;
    font-weight: 100;
}

nav.sticky {
    font-weight: 100;
    padding: 4px 60px;
    background: #333;
}

nav.sticky ul li a {
    color: white;
}

nav.sticky .mobile-nav .bar {
    background: var(--text-bg);
    
}

/*Mobile navbar================================*/
.mobile-nav {
    position: absolute;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    height: 21px;
    width: 30px;
    }

        .mobile-nav .bar {
            height: 2px;
            width: 100%;
            border-radius: 12px;
            background: #333;

        }


/*TOP===============================*/
.top-contact {
    position: relative;
    background-position: center;
    background-image: url("../Images/online-cottonbro\ 1200x850.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    opacity: 0.7;
}

.main-title {
    position: absolute;
    top: 30%;
    left: 50%; /* width:100%; */
    transform: translate(-50%, -30%); /*text-align: center; */
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5rem;
    color: var(--dark-orange);
    cursor: default;
    line-height: 5rem;
}

.subtitle {
    position: absolute;
    top: 80%;
    left: 45%; 
    transform: translate(-80%); 
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var(--text-bg);
    padding: 20px;
    color: #333;
    border: solid var(--dark-orange);
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.subtitle:hover {
    font-weight: 700;
    opacity: 1;
}

/*CONTACT==================================*/
.form-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../Images/lisbon-blue-opacity\ 1200x800.jpg");
    background-size: cover;
}

.description {
    max-width: 800px;
    text-align: center;
    color: var(--text-color);
}

.description h2 {
    font-size: 2.2rem;
    font-weight: 500;
}

.description p {
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.info {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.info .box {
    
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-icons {
    min-width: 60px;
    height: 60px;
    background: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
}

.contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 1rem;
    flex-direction: column;
    color: var(--text-color);
    font-weight: 300;
}

.contact-text a {
    color: var(--text-color);
}

.contact-text a:hover {
    text-decoration: underline;
}

.contact-text h3 {
    font-weight: 500;
    color: var(--orange);
}

.contact-form {
    width: 85%;
    padding: 20px;
    background: white;
}

.contact-form h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 0.8rem;
}

.input-box input, textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.6s;
    color: #666;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
    color: var(--dark-orange);
    font-size: 0.8rem;
    transform: translateY(-20px);
}

.input-box .submit {
    width: 100px;
    background: var(--orange);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
    opacity: 0.7;
}

.input-box .submit-enabled {
    opacity: 1;
}

/*FOOTER===============================*/
.footer-text {
    text-align: center;
    padding: 35px 80px;
    background-color: var(--dark-blue);
    color: #ddd;
}

.footer p {
    opacity: 0.6;
    font-size: small;
}

.footer .icons {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
}

/*RESPONSIVE.MOBILE==========================================*/
@media screen and (max-width: 500px){
    nav.sticky {
        padding: 15px 60px;
    }

    .mobile-nav {
        display: flex;
    }
        
    .icons {
        margin-left: -5rem;
        letter-spacing: 1rem;
    }

        .nav-list {
            display: none;
            position: absolute;
            top: 75%;
            left: 23%;
        }    

            .nav-list li {
                text-align: center;
            }
            
                .nav-list li a {
                    padding: 1.2rem;
                    font-size: 0.8rem;
                }

                .nav-list.active-navbar {
                    display: flex;
                }

.info .box {
    margin-left: -25px;
}

.contact-form {
    width: 95%;
}
}

@media (min-width: 750px) {
    .logo {
        margin-left: -1rem;
        margin-right: 1rem;
    }

    .nav-link a {
        padding: 0 3.5rem;
    }

    .contact-section {
        padding: 50px 100px;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex-direction: row;
    }
    
    .info .box {
        
        position: relative;
        padding: 20px 0;
        display: flex;
    }

    .info {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    .contact-form {
        width: 40%;
        padding: 40px;
        background: white;
    }
}
